---
layout: default
title: KIRSTY LENAI - Home
banner_image: /images/sunset.jpg
---
<!-- this is the daily grind latest featured post  -->
{% for post in site.categories.['The Daily Grind'] limit:1 %}
  {% include post-box.html %}
{% endfor %}


<!-- this is the health and wellness  latest featured post  -->
{% for post in site.categories.['Health & Wellness'] limit:1 %}
  {% include post-box.html %}
{% endfor %}

<!-- this is the oh the places you'll go latest featured post  -->
{% for post in site.categories.['Oh The Places You Will Go'] limit:1 %}

  {% include post-box.html %}

{% endfor %}

<!-- this is the feeling inspired latest featured post  -->
{% for post in site.categories.['Feeling Inspired'] limit:1 %}

  {% include post-box.html %}

{% endfor %}
