---
layout: default
title: KIRSTY LENAI - Home
recent: fuck
---
<!-- this is the content -->
{% for post in site.categories.['The Daily Grind'] limit:1 %}

<div class="col-6">
  <div class="feature-image" style="background-image: url('{{post.feature-image}}');">
  </div>
  <p> {{post.category replace "-", " "}} </p>
  <h3> {{post.post-name}} </h3>
  <p> {{post.date | date_to_long_string }} </p>
  <p> {{post.description}} </p>
  <a href="{{post.url}}" class="button"> READ POST </a>
</div>
{% endfor %}
{% for post in site.categories.['Health & Wellness'] limit:1 %}

<div class="col-6">
  <div class="feature-image" style="background-image: url('{{post.feature-image}}');">
  </div>
  <p> {{post.category replace "-", " "}} </p>
  <h3> {{post.post-name}} </h3>
  <p> {{post.date | date_to_long_string }} </p>
  <p> {{post.description}} </p>
  <a href="{{post.url}}" class="button"> READ POST </a>
</div>
{% endfor %}
{% for post in site.categories.['Oh The Places You Will Go'] limit:1 %}

<div class="col-6">
  <div class="feature-image" style="background-image: url('{{post.feature-image}}');">
  </div>
  <p> {{post.category replace "-", " "}} </p>
  <h3> {{post.post-name}} </h3>
  <p> {{post.date | date_to_long_string }} </p>
  <p> {{post.description}} </p>
  <a href="{{post.url}}" class="button"> READ POST </a>
</div>
{% endfor %}
{% for post in site.categories.['Feeling Inspired'] limit:1 %}

<div class="col-6">
  <div class="feature-image" style="background-image: url('{{post.feature-image}}');">
  </div>
  <p> {{post.category replace "-", " "}} </p>
  <h3> {{post.post-name}} </h3>
  <p> {{post.date | date_to_long_string }} </p>
  <p> {{post.description}} </p>
  <a href="{{post.url}}" class="button"> READ POST </a>
</div>
{% endfor %}
